
@import "./fonts";

@import "CSS:../../node_modules/codemirror/lib/codemirror";
@import "CSS:../../node_modules/codemirror/theme/monokai";
@import "CSS:../../node_modules/firepad/dist/firepad";
@import "CSS:../../node_modules/jquery-handsontable/dist/jquery.handsontable.full";

$global-line-height: 30px;

$text-color: rgb(51, 51, 51);
$output-color: #0066ff;
$output-color-rgba: rgba(247, 247, 247, 0.50);
$gutter-bg-color: #fdfdfd;
$border-color-light: #dddddd;
$border-color-dark: #dfdfdf;

$text-color-inverse: #f8f8f2;
$output-color-inverse: #272822;
$border-color-light-inverse: #5b5c56;
$border-color-dark-inverse: #8f908a;
$background-color-inverse: #222;
// $background-color-inverse: #171812;

$transition-duration: 0.3s;

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-top: 52px;
  padding-bottom: 0;
}

.row {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Source Code Pro', ;*/
  line-height: $global-line-height;
}

ul.nav > li > label {
  margin: 8px;
}

.m-note,
.m-func,
.m-sheet,
.m-error,
.m-doc {
  margin: 1em 0;
}

.m-doc--container,
.m-error--container,
.m-note--container,
.m-func--container,
.m-sheet--container,
.editor-container {
  transition: border-color $transition-duration, color $transition-duration;

  border: 1px solid $border-color-dark;
  border-radius: 3px;
  overflow: hidden;
}

.m-note--hed,
.m-sheet--hed,
.m-func--hed,
.m-error--hed,
.m-doc--hed {
  transition: border-color $transition-duration, color $transition-duration;

  border-bottom: 1px solid $border-color-light;
  padding: 0.25em 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.m-note--title,
.m-sheet--title {
  border: none;
  width: 100%;
}

.m-note--output {
  transition: background-color $transition-duration, border-color $transition-duration, color $transition-duration;

  background-color: $output-color;
  background-color: $output-color-rgba;
  line-height: $global-line-height;
  overflow-x: hidden;

  padding-bottom: 500em;
  margin-bottom: -500em;
  border-left: 1px solid $border-color-light;

  span {
    margin: 0;
    padding: 0;
    display: block;
  }

  .alert {
    background-color: $gutter-bg-color;
    border: 1px solid $border-color-light;
    padding: 5px;
    overflow-y: scroll;
    height: 250px;
    margin-top: 2em;
  }
}

.m-note--gutter,
.gutter {
  line-height: $global-line-height;
  text-align: right;
  font-size: 12px;
  background-color: $gutter-bg-color;
  border-right: 1px solid $border-color-light;
  overflow-y: hidden;

  /*-webkit-transition: height 0.30s ease-in-out;
  -moz-transition: height 0.30s ease-in-out;
  -ms-transition: height 0.30s ease-in-out;
  -o-transition: height 0.30s ease-in-out;*/
  a {
    clear: both;
    display: block;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:active {
      outline: none;
    }
  }
}
.m-note--input {
  font-family: 'Source Code Pro', serif;

  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*box-sizing: padding-box;*/
  /*-webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;*/

  border: none;

  white-space: pre;
  line-height: $global-line-height;

  padding: 0;
}
.m-note--input iframe {
  /*-webkit-transition: height 0.30s ease-in-out;
  -moz-transition: height 0.30s ease-in-out;
  -ms-transition: height 0.30s ease-in-out;
  -o-transition: height 0.30s ease-in-out;*/
}

.m-sheet {
  &.m-sheet--container {
    // padding-left: 0;
    // padding-right: 0;
  }

  table.htCore > tbody {
    td {
      padding: 5px 8px;
    }

    tr:first-child td {
      border-top: none;
    }
    tr:last-child td {
      border-bottom: none;
    }
    td:first-child {
      border-left: none;
    }
    td:last-child {
      border-right: none;
    }
  }
}

.m-error--container {
  .m-error--hed {
    background-color: #ff0000;
  }
  .m-error--row {
    background-color: $gutter-bg-color;
    padding: 0 1em;

    height: 150px;
    overflow-y: scroll;
  }

  p {
    line-height: $global-line-height;
    border-bottom: 1px solid $border-color-light;
  }
}

.m-footer--container {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.m-controlpanel {
  .m-controlpanel--profile-image {
    width: 30px;
    border-radius: 15px;
    margin-right: 4px;
  }
}

.m-doc--container {

}


/*

  CODEMIRROR CONFIG

*/
.CodeMirror {
  border: none;
  height: auto;
  line-height: $global-line-height;

  pre {
    // positioning wrapper for a line of text
    padding: 0 16px;

    span {
      // a line of text

    }
  }
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-gutters {
  width: 38px;

  .CodeMirror-linenumbers {
  }
}
.CodeMirror-linenumber {
  // min-width: 24px;
  // padding-left: 6px;
  font-size: 12px;
}
.CodeMirror-gutter-elt {

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/*

  FIREPAD CONFIG

*/
// Reset the default firepad styles
.firepad {
  height: auto;
  position: relative;

  .CodeMirror {
    position: relative;
    height: auto;
  }
}

.firepad {
  text-align: left;
  line-height: $global-line-height;
}

.powered-by-firepad {
  display: none;
}

.dark-theme {
  transition: background-color $transition-duration, color $transition-duration;

  background-color: $background-color-inverse;

  .m-doc--container,
  // .m-footer--container,
  .m-error--container,
  .m-note--container,
  .m-func--container,
  .m-sheet--container,
  .editor-container,

  .m-error--row,

  .m-note--hed,
  .m-sheet--hed,
  .m-func--hed,
  .m-error--hed,
  .m-doc--hed,

  .m-note--title,
  .m-sheet--title,

  .m-note--output {
    color: $text-color-inverse;
    background-color: $output-color-inverse;
  }

  .m-footer--container {
    color: $border-color-dark-inverse;
  }

  .m-note--hed,
  .m-sheet--hed,
  .m-func--hed,
  .m-error--hed,
  .m-doc--hed,
  .m-note--output {
    border-color: $border-color-light-inverse;
  }

  .m-doc--container,
  .m-footer--container,
  .m-error--container,
  .m-note--container,
  .m-func--container,
  .m-sheet--container,
  .editor-container {
    border-color: $border-color-dark-inverse;
  }

}

.navbar-inverse {
  transition: background-color $transition-duration, color $transition-duration;
}