
@import "./fonts";

@import "CSS:../../node_modules/codemirror/lib/codemirror";
@import "CSS:../../node_modules/codemirror/theme/monokai";
@import "CSS:../../node_modules/firepad/dist/firepad";
@import "CSS:../../node_modules/jquery-handsontable/dist/jquery.handsontable.full";
@import "CSS:../../node_modules/jquery-handsontable/extensions/jquery.handsontable.bootstrap";

$global-line-height: 30px;

$output-color: #0066ff;
$output-color-rgba: rgba(247, 247, 247, 0.50);
$gutter-bg-color: #fdfdfd;
$border-color-light: #dddddd;
$border-color-dark: #dfdfdf;

$text-color-inverse: #c8c8c2;
$output-color-inverse: #272822;
$border-color-light-inverse: #5b5c56;
$border-color-dark-inverse: #8f908a;
$background-color-inverse: #222;
// $background-color-inverse: #171812;

$transition-duration: 0.667s;

body {
  padding-top: 52px;
  padding-bottom: 0;
}

.row {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Source Code Pro', ;*/
  line-height: $global-line-height;
}

ul.nav > li > label {
  transition: opacity $transition-duration;

  margin: 8px;
  text-align: center;
  opacity: 0.3;

  &:hover {
    transition: opacity $transition-duration;
    opacity: 1.0;
  }

  &.dark-toggle {
    color: $text-color-inverse;
    border-color: $border-color-dark-inverse;
    background-color: $background-color-inverse;

    &.toggled {
      transition: background-color $transition-duration, color $transition-duration, border-color $transition-duration;

      color: $text-color;
      border-color: $border-color-dark;
      background-color: $body-bg;
    }
  }

  input {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
  }
}

.m-note,
.m-func,
.m-sheet,
.m-error,
.m-doc {
  margin: 1em 0;
}

.m-doc--container,
.m-error--container,
.m-note--container,
.m-func--container,
.m-sheet--container,
.editor-container {
  transition: border-color $transition-duration, color $transition-duration;

  border: 1px solid $border-color-dark;
  border-radius: 3px;
  overflow: hidden;
}

.m-note--hed,
.m-sheet--hed,
.m-func--hed,
.m-error--hed,
.m-doc--hed {
  transition: border-color $transition-duration, color $transition-duration;

  border-bottom: 1px solid $border-color-light;
  padding: 0.25em 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.m-note--title,
.m-sheet--title {
  border: none;
  width: 100%;
}

.m-note--output {
  transition: background-color $transition-duration, border-color $transition-duration, color $transition-duration;

  background-color: $output-color;
  background-color: $output-color-rgba;
  line-height: $global-line-height;
  overflow-x: hidden;

  padding-bottom: 500em;
  margin-bottom: -500em;
  border-left: 1px solid $border-color-light;

  span {
    margin: 0;
    padding: 0;
    display: block;
  }

  .alert {
    background-color: $gutter-bg-color;
    border: 1px solid $border-color-light;
    padding: 5px;
    overflow-y: scroll;
    height: 250px;
    margin-top: 2em;
  }
}

.m-note--gutter,
.gutter {
  line-height: $global-line-height;
  text-align: right;
  font-size: ceil(($font-size-base * 0.8));
  background-color: $gutter-bg-color;
  border-right: 1px solid $border-color-light;
  overflow-y: hidden;

  /*-webkit-transition: height 0.30s ease-in-out;
  -moz-transition: height 0.30s ease-in-out;
  -ms-transition: height 0.30s ease-in-out;
  -o-transition: height 0.30s ease-in-out;*/
  a {
    clear: both;
    display: block;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:active {
      outline: none;
    }
  }
}
.m-note--input {
  font-family: $font-family-monospace;

  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*box-sizing: padding-box;*/
  /*-webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;*/

  border: none;

  white-space: pre;
  line-height: $global-line-height;

  padding: 0;
}
.m-note--input iframe {
  /*-webkit-transition: height 0.30s ease-in-out;
  -moz-transition: height 0.30s ease-in-out;
  -ms-transition: height 0.30s ease-in-out;
  -o-transition: height 0.30s ease-in-out;*/
}

.m-error--container {
  .m-error--hed {
    color: #FFF;
    background-color: #ff0000;
  }
  .m-error--row {
    background-color: $gutter-bg-color;
    padding: 0 1em;

    height: 150px;
    overflow-y: scroll;
  }

  p {
    line-height: $global-line-height;
    border-bottom: 1px solid $border-color-light;
  }
}

.m-footer--container {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: ceil(($font-size-base * 0.85));
}

.m-controlpanel {
  .m-controlpanel--profile-image {
    width: 30px;
    border-radius: 15px;
    margin: -5px 8px -5px 0;
  }
}

.m-doc--container {

}


/*

  HANDSONTABLE CONFIG

*/
.m-sheet {
  &.m-sheet--container {
    // padding-left: 0;
    // padding-right: 0;
  }
  .m-sheet--input {
    padding-left: 0;
    padding-right: 0;
  }
  .wtHolder {
    background-color: $gutter-bg-color;
  }
  table.htCore {

    th {
      background-color: $gutter-bg-color;
    }

    thead tr:first-child th {
      border-top: none;
    }
    tr:last-child td,
    tr:last-child th {
      // border-bottom: none;
    }
    th:first-child {
      border-left: none;
    }
    td:last-child,
    th:last-child {
      border-right: none;
    }
  }
}


/*

  CODEMIRROR CONFIG

*/
.CodeMirror {
  border: none;
  height: auto;
  line-height: $global-line-height;

  pre {
    // positioning wrapper for a line of text
    padding: 0 16px;

    span {
      // a line of text

    }
  }
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-gutters {
  width: 38px;

  .CodeMirror-linenumbers {
  }
}
.CodeMirror-linenumber {
  // min-width: 24px;
  // padding-left: 6px;
  font-size: ceil(($font-size-base * 0.8));
}
.CodeMirror-gutter-elt {

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/*

  FIREPAD CONFIG

*/
// Reset the default firepad styles
.firepad {
  height: auto;
  position: relative;

  .CodeMirror {
    position: relative;
    height: auto;
  }
}

.firepad {
  text-align: left;
  line-height: $global-line-height;
}

.powered-by-firepad {
  display: none;
}


/*

  DARK THEME

*/
@keyframes fade-in {
  0%   { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

// .is-loading {
//   .m-doc,
//   .m-footer,
//   .m-error,
//   .m-note,
//   .m-func,
//   .m-sheet,
//   .editor-container {
//     transition: fade-in 20s;
//     opacity: 0;
//   }
// }

.is-dark-theme {
  transition: background-color $transition-duration, color $transition-duration, border-color $transition-duration;

  background-color: $background-color-inverse;

  .m-doc--container,
  // .m-footer--container,
  .m-error--container,
  .m-note--container,
  .m-func--container,
  .m-sheet--container,
  .editor-container,

  .m-error--row,

  .m-note--hed,
  .m-sheet--hed,
  .m-func--hed,
  .m-error--hed,
  .m-doc--hed,

  .m-note--title,
  .m-sheet--title,

  .m-note--output {
    transition: background-color $transition-duration, color $transition-duration, border-color $transition-duration;
    color: $text-color-inverse;
    background-color: $output-color-inverse;
  }

  .m-footer--container {
    transition: background-color $transition-duration, color $transition-duration, border-color $transition-duration;
    color: $border-color-dark-inverse;
  }

  .m-note--hed,
  .m-sheet--hed,
  .m-func--hed,
  .m-error--hed,
  .m-doc--hed,
  .m-note--output {
    transition: background-color $transition-duration, color $transition-duration, border-color $transition-duration;
    border-color: $border-color-light-inverse;
  }

  .m-doc--container,
  .m-footer--container,
  .m-error--container,
  .m-note--container,
  .m-func--container,
  .m-sheet--container,
  .editor-container {
    transition: background-color $transition-duration, color $transition-duration, border-color $transition-duration;
    border-color: $border-color-dark-inverse;
  }
}

.navbar-inverse {
  transition: background-color $transition-duration, color $transition-duration, border-color $transition-duration;
}