
@import "./fonts";

@import "CSS:../../node_modules/codemirror/lib/codemirror";
@import "CSS:../../node_modules/codemirror/theme/monokai";

$global-line-height: 30px;
$output-color: #0066ff;
$output-color-rgba: rgba(247, 247, 247, 0.50);
$gutter-bg-color: #fdfdfd;
$border-color-light: #dddddd;
$border-color-dark: #dfdfdf;


body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  padding-top: 70px;
}

.row {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Source Code Pro', ;*/
  line-height: $global-line-height;
}

.m-note,
.m-func,
.m-error {
  margin: 1em 0;
}

.m-error--container,
.m-note--container,
.editor-container {
  border: 1px solid $border-color-dark;
  border-radius: 3px;
  overflow: hidden;
}

.m-note--hed,
.m-error--hed {
  border-bottom: 1px solid $border-color-light;
  padding: 0.25em 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.m-note--title {
  border: none;
  width: 100%;
}

.m-note--output {
  background-color: $output-color;
  background-color: $output-color-rgba;
  line-height: $global-line-height;
  overflow-x: hidden;

  padding-bottom: 500em;
  margin-bottom: -500em;
  border-left: 1px solid $border-color-light;

  span {
    margin: 0;
    padding: 0;
    display: block;
  }

  .alert {
    background-color: $gutter-bg-color;
    border: 1px solid $border-color-light;
    padding: 5px;
    overflow-y: scroll;
    height: 250px;
    margin-top: 2em;
  }
}

.m-note--gutter,
.gutter {
  line-height: $global-line-height;
  text-align: right;
  font-size: 12px;
  background-color: $gutter-bg-color;
  border-right: 1px solid $border-color-light;
  overflow-y: hidden;

  /*-webkit-transition: height 0.30s ease-in-out;
  -moz-transition: height 0.30s ease-in-out;
  -ms-transition: height 0.30s ease-in-out;
  -o-transition: height 0.30s ease-in-out;*/
  a {
    clear: both;
    display: block;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:active {
      outline: none;
    }
  }
}
.m-note--input {
  font-family: 'Source Code Pro', serif;

  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*box-sizing: padding-box;*/
  /*-webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;*/

  border: none;

  white-space: pre;
  line-height: $global-line-height;

  padding: 0;
}
.m-note--input iframe {
  /*-webkit-transition: height 0.30s ease-in-out;
  -moz-transition: height 0.30s ease-in-out;
  -ms-transition: height 0.30s ease-in-out;
  -o-transition: height 0.30s ease-in-out;*/
}

.m-sheet {
  > thead > tr > th {
    border-bottom: none;
  }
}

.m-error--container {
  .m-error--hed {
    background-color: #ff0000;
  }
  .m-error--row {
    background-color: $gutter-bg-color;
    padding: 0 1em;

    height: 200px;
    overflow-y: scroll;
  }

  p {
    line-height: $global-line-height;
    border-bottom: 1px solid $border-color-light;
  }
}

.m-controlpanel {
  .m-controlpanel--profile-image {
    width: 30px;
    border-radius: 15px;
    margin-right: 4px;
  }
}


/*

  CODEMIRROR CONFIG

*/
.CodeMirror {
  border: none;
  height: auto;
  line-height: $global-line-height;

  pre {
    // positioning wrapper for a line of text
    padding: 0 16px;

    span {
      // a line of text

    }
  }
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-gutters {
  width: 38px;

  .CodeMirror-linenumbers {
  }
}
.CodeMirror-linenumber {
  // min-width: 24px;
  // padding-left: 6px;
  font-size: 12px;
}
.CodeMirror-gutter-elt {

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
