
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.row {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Source Code Pro', ;*/
  line-height: 30px;
}

.m-note,
.m-func {
  margin: 1em 0;
}

.m-note--output,
div[data-output] {
  background-color: #0066ff;
  background-color: rgba(0, 31, 255, 0.10);
  line-height: 30px;
  overflow-x: hidden;
}

.m-note--hed {
  border-bottom: 1px solid #dddddd;
  padding: 0.25em 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.m-note--output,
div[data-note] div[data-output] {
  padding-bottom: 500em;
  margin-bottom: -500em;
  border-left: 1px solid #dddddd;
}

.m-note--output.alert,
div[data-output].alert {
  background-color: #fdfdfd;
  border: 1px solid #dddddd;
  padding: 5px;
  overflow-y: scroll;
  height: 250px;
  margin-top: 2em;
}

.m-note--gutter,
.gutter {
  line-height: 30px;
  text-align: right;
  font-size: 12px;
  background-color: #fdfdfd;
  border-right: 1px solid #dddddd;
  overflow-y: hidden;

  /*-webkit-transition: height 0.30s ease-in-out;
  -moz-transition: height 0.30s ease-in-out;
  -ms-transition: height 0.30s ease-in-out;
  -o-transition: height 0.30s ease-in-out;*/
}
.m-note--gutter a,
.gutter a {
  clear: both;
  display: block;
}
.m-note--gutter a:hover,
.gutter a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.m-note--input,
div[data-input].editor {
  font-family: 'Source Code Pro', serif;

  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*box-sizing: padding-box;*/
  /*-webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;*/

  border: none;

  white-space: pre;
  line-height: 30px;
}
.m-note--input iframe,
div[data-input].editor iframe {
  /*-webkit-transition: height 0.30s ease-in-out;
  -moz-transition: height 0.30s ease-in-out;
  -ms-transition: height 0.30s ease-in-out;
  -o-transition: height 0.30s ease-in-out;*/
}


.m-note--container,
.editor-container {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  overflow: hidden;
}
